- content_for :breadcrumb do
  %li.breadcrumb-item.active
    = link_to(resource_root) do
      = resources_label
  %li.breadcrumb-item.active
    = crud_title

.turbo-form-container
  = render partial: "error_messages"

  = simple_form_for(model, wrapper: Krudmin::Config.form_wrapper, validate: true, remote: true, url: form_submit_path, html: { class: 'form-horizontal', data: { model_element: model_class.model_name.element } }) do |f|
    .row
      - grouped_attributes.each do |key, metadata|
        = render partial: "general_fields", locals: {metadata: metadata, f: f, key: key}

    = render partial: "form_action_buttons", locals: {f: f}
