%tr{class: "item-model-#{item.id}"}
  - listable_attributes.each_with_index do |column_label, column_index|
    %td{class: "#{krudmin_manager.field_for(column_label).html_class}"}
      - if column_index.zero? && (edit_access?(item) || show_access?(item))
        = link_to(field_for(column_label, item).render(:list, self), edit_access?(item) ? edit_resource_path(item.id) : resource_path(item.id), remote: krudmin_manager.remote_crud)
      - else
        = field_for(column_label, item).render(:list, self)
  - if listable_actions.any?
    %td{width: "20%"}
      %ul.list-inline.actions-list
        = list_action_panel(item, listable_actions, self, remote: krudmin_manager.remote_crud)
