.row.search-panel.hidden
  .col-lg-12.no-padding
    .card
      .card-body
        = simple_form_for(search_form, as: :q, method: :get, url: resource_root, html: { class: 'turbo-form' }) do |f|
          = f.hidden_field :s
          .row
            - search_form.fields.each_slice(1) do |field_slice|
              - field_slice.each do |field|
                .col-lg-4.col-md-6
                  .search-filter
                    .form-group.row
                      .col-sm-12
                        %label
                          %strong
                            = model_class.human_attribute_name(field)
                      = field_for(field).render(:search, self, {form: f, search_form: search_form})
          .row
            .col-sm-12
              %br
              = button_tag(type: :submit, class: "btn btn-primary search-panel-toggler") do
                %i.fa.fa-search
                = t('krudmin.actions.search')
              &nbsp;
              = link_to("#", class: "btn btn-danger search-panel-toggler") do
                %i.fa.fa-close
                = t('krudmin.actions.cancel')
              &nbsp;
              = link_to(resource_root(reset_search: 1), class: "btn btn-light search-panel-toggler") do
                %i.fa.fa-close
                = t('krudmin.actions.reset')
