- content_for(:aside) do
  = simple_form_for(search_form, as: :q, method: :get, url: resource_root, html: { class: 'turbo-form' }) do |f|
    - search_form.fields.each_slice(2) do |field_slice|
      .row
        - field_slice.each do |field|
          .col-lg-12
            .form-group.row
              .col-sm-12
                %label
                  %strong
                    = model_class.human_attribute_name(field)
              - if search_form.input_type_for(field) == :boolean
                .col-sm-12
                  = f.hidden_field field, required: false, class: "form-control", value: true
                  = f.select "#{field}_options", options_for_select(search_form.search_predicates_for(field), search_form.send("#{field}_options")), {include_blank: true}, {class: "form-control"}
              - elsif search_form.input_type_for(field) == :calendar
                .col-sm-6
                  = f.hidden_field "#{field}__from_options", value: :gteq
                  = f.date_field "#{field}__from", required: false, class: "form-control"
                .col-sm-6
                  = f.hidden_field "#{field}__to_options", value: :lteq
                  = f.date_field "#{field}__to", required: false, class: "form-control"
              - else
                .col-sm-5
                  = f.select "#{field}_options", options_for_select(search_form.search_predicates_for(field), search_form.send("#{field}_options")), {}, {class: "form-control"}
                .col-sm-7
                  = field_for(field, search_form.send(field)).render(:search, self, {form: f})
    .row
      .col-sm-12
        %br
        = button_tag(type: :submit, class: "btn btn-warning aside-menu-toggler") do
          %i.fa.fa-search
          = t('krudmin.actions.search')
        &nbsp;
        = link_to("#", class: "btn btn-danger aside-menu-toggler") do
          %i.fa.fa-close
          = t('krudmin.actions.cancel')
        &nbsp;
        = link_to(resource_root, class: "btn btn-light aside-menu-toggler") do
          %i.fa.fa-close
          = t('krudmin.actions.reset')
