- content_for :breadcrumb do
  %li.breadcrumb-item.active
    = resources_label

.col-lg-12.no-padding
  .card.items-list
    .card-header
      %h4.pull-left
        %i.fa.fa-align-justify
        = t('krudmin.actions.manage_resources', label: resources_label)
      = link_to(new_resource_path, class: 'btn btn-success pull-right') do
        %i.fa.fa-plus
        = t('krudmin.actions.add_new')
    .card-body
      %table.table.table-striped.table-sm
        %thead
          %tr
            - listable_attributes.each_with_index do |column_label, column_index|
              - if column_index.zero?
                %th{width: "35%"}= model_class.human_attribute_name(column_label)
              - else
                %th= model_class.human_attribute_name(column_label)
            - if listable_actions.any?
              %th{width: "20%"}= t('krudmin.actions.label')
        %tbody
          - items.each do |item|
            %tr{class: "item-model-#{item.id}"}
              - listable_attributes.each_with_index do |column_label, column_index|
                - if column_index.zero?
                  %td{width: "35%"}
                    = link_to(item.send(column_label), edit_resource_path(item.id))
                - else
                  %td
                    = item.send("#{column_label}_label")
              - if listable_actions.any?
                %td{width: "20%"}
                  = render partial: "list_action_buttons", locals: {item: item}

      %nav
        = paginate items
