- content_for(:page_title) do
  = resources_label

- content_for :breadcrumb do
  %li.breadcrumb-item.active
    = link_to(resource_root) do
      = resources_label

= render "search_form", locals: {search_form: search_form}

- configure_toolbar(:list, self) do |b|
  - b.button :new, new_resource_path
  - b.button :search
  - b.link admin_cars_path, class: 'btn btn-danger' do
    %i.fa.fa-car
  - b.link 'https://google.com', class: 'btn btn-primary', target: :_blank, data: {confirm: "?"} do
    %i.fa.fa-google
    %i.fa.fa-plus
    Google

.row
  .col-lg-12.no-padding
    .card.items-list
      .card-header
        %h4.pull-left
          = t('krudmin.actions.manage_resources', label: resources_label)
        .pull-right
          = paginate items.result
      .card-body
        %table.table.table-hover
          %thead
            - if search_form.filters.any?
              %tr.search-filters-description
                %td{colspan: listable_attributes.count + 1}
                  = search_form.filters.join(", ")
            %tr
              - listable_attributes.each_with_index do |column_label, column_index|
                %th{class: "#{krudmin_manager.field_for(column_label).html_class}"}
                  = sort_link items, column_label, model_class.human_attribute_name(column_label)
              - if listable_actions.any?
                %th{width: "20%"}= t('krudmin.actions.label')
          %tbody
            - items.result.each do |item|
              %tr{class: "item-model-#{item.id}"}
                - listable_attributes.each_with_index do |column_label, column_index|
                  %td{class: "#{krudmin_manager.field_for(column_label).html_class}"}
                    - if column_index.zero?
                      = link_to(field_for(column_label, item).render(:list, self), edit_resource_path(item.id))
                    - else
                      = field_for(column_label, item).render(:list, self)
                - if listable_actions.any?
                  %td{width: "20%"}
                    = render partial: "list_action_buttons", locals: {item: item}
