- content_for(:page_title) do
  = "Dog Breed: #{dog_breed}"

- content_for :breadcrumb do
  %li.breadcrumb-item.active
    = link_to(admin_dog_breeds_path) do
      = "Dog Breeds"
  %li.breadcrumb-item
    = dog_breed

= render "list_action_buttons"

.row
  .col-lg-12.no-padding
    .card.items-list
      .card-header
        %h4.pull-left
          This view is generated from an Stand Alone Controller `Krudmin::CustomController` which doesn't depend on a resource manager.
      .card-body
        %i
          Data extracted from
          %a{href: "https://dog.ceo/dog-api/"} https://dog.ceo/dog-api/

        %br
        %br

        %h1
          Breed:
          = dog_breed

        .row
          - @dog_breed.images.each do |image|
            .col-lg-3.col-sm-4
              = image_tag("http://via.placeholder.com/350x250", class: "lazy img-thumbnail", width: "200px", data: {src: image}, style: "margin: 20px")
