%header.app-header.navbar
  %button.navbar-toggler.mobile-sidebar-toggler.d-lg-none.mr-auto{type: "button"}
    %span.navbar-toggler-icon
  %a.navbar-brand{href: krudmin_root_path}
  %button.navbar-toggler.sidebar-toggler.d-md-down-none{type: "button"}
    %span.navbar-toggler-icon
  %ul.nav.navbar-nav.d-md-down-none
    %li.nav-item.px-3
      %a.nav-link{href: krudmin_root_path}
        = t('krudmin.labels.dashboard')
  %ul.nav.navbar-nav.ml-auto#main-user-menu
    - if _current_user
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
          %span.hidden-xs-down
            = _current_user.name
          %span.hidden-sm-up
            %i.icon-people
        .dropdown-menu.dropdown-menu-right
          .dropdown-header.text-center
            %strong Settings
          = link_to(send(Krudmin::Config.edit_profile_path, _current_user), class: 'dropdown-item') do
            %i.fa.fa-user
            = I18n.t('krudmin.labels.edit_profile')
          = link_to(send(Krudmin::Config.logout_path), method: :delete, data: {no_turbolink: true}, class: 'dropdown-item') do
            %i.fa.fa-lock
            = I18n.t('krudmin.labels.logout')
