- if _current_user
  %li.nav-item.dropdown
    = link_to("#", class: "nav-link dropdown-toggle", data: {toggle: :dropdown}) do
      %i.fa.fa-user
      &nbsp;
      = _current_user.name
      &nbsp;
    .dropdown-menu.dropdown-menu-right
      = link_to("#{Krudmin::Config.edit_profile_path}/#{_current_user.id}/edit", class: 'dropdown-item') do
        %i.fa.fa-user
        = I18n.t('krudmin.labels.edit_profile')
      = link_to(Krudmin::Config.logout_path, method: :delete, data: {no_turbolink: true}, class: 'dropdown-item') do
        %i.fa.fa-lock
        = I18n.t('krudmin.labels.logout')
