.col-md-8
  = devise_error_messages!

.col-md-8
  .card-group.mb-0
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = f.hidden_field :reset_password_token
      .card.p-4
        .card-body
          %h1=t("devise.passwords.change_password")
          %p.text-muted= "#{@minimum_password_length} #{t('devise.passwords.minimum_password_length')}"
          .input-group.mb-3
            %span.input-group-addon
              %i.fa.fa-lock
            = f.password_field :password, autofocus: true, class: 'form-control', autocomplete: "off"
          .input-group.mb-4
            %span.input-group-addon
              %i.fa.fa-lock
            = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
          .row
            .col-6
              = button_tag(type: :submit, class: "btn btn-primary") do
                %i.fa.fa-save
                %h1=t("devise.passwords.change_my_password")
            .col-6.text-right
              = link_to "Log in", new_session_path(resource_name), class: 'btn btn-link px-0'
    .card.text-white.bg-primary.py-5.d-md-down-none{:style => "width:44%"}
      .card-body.text-center
        %div
          %h2= Krudmin::Config.login_screen_intro_message
