.associated-resource-container
  = form.association association_name, label: field_label, as: input_type, collection: associated_options, label_method: collection_label_field, value_method: :id, group_method: group_method, group_label_method: group_label_method, input_html: {class: 'form-control select2 belongs-to-control', include_blank: true}

  - if add_path || edit_path
    .row
      .col-lg-12
        .pull-right
          - if add_path && new_access?(associated_model)
            = link_to(add_path, class: "btn btn-success associated-resource-creator", remote: true) do
              %i.fa.fa-plus
              = new_title(associated_resource_label)
          &nbsp;
          - if edit_path && edit_access?(associated_model)
            = link_to("#", class: "hidden btn btn-primary associated-resource-editor", remote: true, data: {edit_url: send("#{edit_path}_path", "__ID__")}) do
              %i.fa.fa-pencil
              = edit_title(associated_resource_label)
      %br
      %br
