- content_for :breadcrumb do
  %li.breadcrumb-item.active
    = link_to(resource_root) do
      = resources_label
  %li.breadcrumb-item.active
    = crud_title

.turbo-form-container
  - if model.errors.any?
    - model.errors.full_messages.each do |msg|
      = content_tag :div, msg, class: "alert alert-danger"

  .row
    .col-md-8
      = simple_form_for(model, url: form_submit_path, html: { class: 'turbo-form form-horizontal' }) do |f|
        .card
          .card-header
            %strong= crud_title
          .card-body
            - yielded = yield(f)
            - if yielded.present?
              = yielded
            - else
              - editable_attributes.each do |attribute|
                .form-group
                  = f.input attribute

          = render partial: "krudmin/templates/form_action_buttons"
